<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
	<div class="card shadow">
		<div class="class-header bg-primary text-white">
			<h3 class="text-center">Employee Register</h3>
		</div>
		
		<div class="card-body">
			
			<h3 th:text="${success}" class="text-success"></h3>
		
		
			<form th:action="@{/save}" th:object="${employee}" method="POST">
				<div class="mb-3">
					<label>Employee Name:</label>
					<input type="text" class="form-control" th:field="*{name}">
				</div>
				
				<div class="mb-3">
					<label>Employee Mail:</label>
					<input type="email" class="form-control" th:field="*{mail}">
				</div>
				
				<div class="mb-3">
					<label>Employee Password:</label>
					<input type="password" class="form-control" th:field="*{password}">
				</div>
				
				<button class="btn btn-success">Register</button>
				<a href="@{/employees}" class="btn btn-warning">View Employees</a>	
			</form>
		
		
		</div>
	</div>
</div>

</body>
</html>