<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="car" class="com.dcl.engine.target.Car" autowire="byType"></bean>
	<bean id="petrol" class="com.dcl.engineimpl.Petrol" ></bean>
	<bean id="engine1" class="com.dcl.engineimpl.Diesel" primary="true"></bean>
   	<bean id="engine" class="com.dcl.engineimpl.CNG"></bean>

</beans>